# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# Angular & Vite cache
/.angular/cache
/node_modules/.vite

# Logs
npm-debug.log
yarn-error.log

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/junit.xml
/libpeerconnection.log
testem.log
/typings
__screenshots__/
