# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage (personal connection configs)
/dataSources/
/dataSources.local.xml
/dataSources.xml
/db-forest-config.xml
